# Ignore artifacts:
build
dist
.vitepress/dist
.vuepress/dist

# Ignore config files:
.env
.env.*

# Ignore lockfiles and packages:
package-lock.json
yarn.lock
pnpm-lock.yaml
node_modules
/coverage

# Ignore other common files:
*.log
*.log.*
.DS_Store